/icontador/nbproject/private/
/icontador/dist/
/icontador/build/
/contador/nbproject/private/
/contador/build/
/contador/dist/
/servidor/nbproject/private/
/cliente/nbproject/private/
/servidor/build/
/cliente/build/
/operaciones/nbproject/private/
/operaciones/dist/
/operaciones/build/
/interfaz/nbproject/private/
/interfaz/build/
/interfaz/dist/
/servidor/dist/
/cliente/dist/